<nav>
    <div class="side-links-left">
        <span class="link" (click)="goTo('home')">
            <kendo-icon name="home" size="xlarge"></kendo-icon>
        </span>
        <kendo-textbox-separator class="separator"></kendo-textbox-separator>
        <span class="link" (click)="goTo('items')">
           <p>Nos produits</p>
        </span>
    </div>
    <div class="title">
        <h1>Mon site E-commerce</h1>
    </div>
    <div class="side-links-right">
        <span class="link" (click)="goTo('user')">
            <kendo-icon name="user" size="xlarge"></kendo-icon>
        </span>
        <span class="link" (click)="goTo('basket')"> 
            <kendo-icon name="shopping-cart" size="xlarge"></kendo-icon>
        </span>
    </div>
</nav>
