:host{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    min-width: 300px;
    flex : 1;
    margin: 2rem;
}

.login-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding : 2rem;
}

.formfield{
    margin-bottom: 15px;
}

.register-link{
    display: flex;
    font-size: 14px;
    margin: 5px;
}